{% stylesheet %}
  .page-width {
    width: 100%;
  }
  .row__text--left {
    padding-right: 5px;
  }
  .row__text--right {
    padding-left: 5px;
  }
{% endstylesheet %}

<div class="wrapper" style="width: 100%; background-color: #F1ECE4; padding-bottom: 2rem;">
  <div style="display: flex; justify-content: space-around;">
    <img class="lazyload"
      src="{{ 'icons_waves.svg' | asset_url }}"
      alt="convenience highlights" 
      style="margin-top: -2rem;"
    />
  </div>

  <div class="page-width">
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when "block-heading" -%}
          <div style="text-align: center; margin: 2rem;" {{ block.shopify_attributes }}>
            <h2>{{ block.settings.text | escape }}</h2>
          </div>

        {%- when "block-image" -%}
          <div class="feature-row" style="margin-bottom: 1rem;" {{ block.shopify_attributes }}>
            {% include 'snippet_advanced-grid-image-block' %}
          </div>

        {%- when "block-paragraph" -%}
          <div style="text-align: center; margin: 2rem;" {{ block.shopify_attributes }}>
            {{ block.settings.richtext }}
          </div>
        
        {%- else -%}
      {%- endcase -%}
    {% endfor %}

    {%- comment -%}
      Display no_content message when no element is found, e.g.:
        All elements are removed, OR
        Section is first created
    {%- endcomment -%}
    {% if section.blocks.size == 0 %}
      <div class="wrapper">
        <div class="grid">
          <div class="grid__item">
            <div class="rte text-center">
              {{ 'home_page.onboarding.no_content' | t }}
            </div>
          </div>
        </div>
    </div>
    {% endif %}
  </div>

  <div style="margin-top: 2rem; text-align: center;">
    <a style="text-decoration: underline; font-size: 1.15rem; line-height: 60px;" href="/collections/all" title="All Products">Shop all</a>
  </div>
</div>

{% schema %}
  {
    "name": "Custom grid",
    "max_blocks": 9,
    "settings": [
      {
        "type": "header",
        "content": "Advanced featured rows"
      },
      {
        "type": "paragraph",
        "content": "Each featured row can contain 1 block of text and 1 image, and the positions can be switched."
      }
    ],
    "blocks": [
      {
        "name": "Advanced Image block",
        "type": "block-image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "value": "icons-circle",
                "label": "Circle"
              },
              {
                "value": "icons-double-circles",
                "label": "Double Circles"
              },
              {
                "value": "icons-water-drop",
                "label": "Water Drop"
              },
              {
                "value": "icons-cup",
                "label": "Cup"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Description text"
          },
          {
            "type": "checkbox",
            "id": "alignment",
            "label": "Image first?",
            "default": true
         }
        ]
      },
      {
        "name": "Custom header",
        "type": "block-heading",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Heading"
          }
        ]
      },
      {
        "name": "Paragraph",
        "type": "block-paragraph",
        "settings": [
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Paragraph"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom grid",
        "category": {
          "cs": "Pokročilé rozvržení",
          "da": "Avanceret layout",
          "de": "Komplizierteres Layout",
          "en": "Advanced layout",
          "es": "Diseño avanzado",
          "fi": "Monimutkaisempi layout",
          "fr": "Mise en page avancée",
          "hi": "उन्नत लेआउट",
          "it": "Layout avanzato",
          "ja": "高度なレイアウト",
          "ko": "고급 레이아웃",
          "nb": "Avansert oppsett",
          "nl": "Geavanceerde opmaak",
          "pl": "Zaawansowany układ",
          "pt-BR": "Layout avançado",
          "pt-PT": "Esquema avançado",
          "sv": "Avancerad layout",
          "th": "เลย์เอาท์ขั้นสูง",
          "tr": "Gelişmiş düzen",
          "vi": "Bố cục nâng cao",
          "zh-CN": "高级布局",
          "zh-TW": "進階版面配置"
        }
      }
    ]
  }
{% endschema %}