<div class="page-width-100" style="background-color: #F1ECE4; padding-bottom: 2rem;">
  <div class="wrapper">
    <div style="display: flex; justify-content: space-around;">
      <img
        width="auto"
        height="auto"
        loading="lazy"
        src="{{ 'icons_waves.svg' | asset_url }}"
        alt="convenience highlights"
        style="margin-top: -2rem;"
      />
    </div>

    <div class="page-width-100">
      <!-- Section title -->
      <div style="text-align: center; margin: 2rem;">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>

      <!-- Blocks of features -->
      <div class="cuppe-wrapper">
        {%- if section.settings.layout == "row" -%}
        <ul class="cuppe__list">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when "block-image" -%}
                <li style="margin-bottom: 1rem;">
                  {% render 'snippet_advanced-grid-image-block', block: block %}
                </li>
              {%- when "block-video" -%}
                <li>
                  {%- if block.settings.product_description_video -%}
                    <iframe width="auto" height="auto" src="https://www.youtube.com/embed/{{ block.settings.product_description_video.id }}?autoplay=1&loop=1&mute=1" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen volume="0"></iframe>
                  {%- else -%}
                    <p>No video link entered...</p>
                  {%- endif -%}
                </li>
              {%- else -%}
            {%- endcase -%}
          {% endfor %}
        </ul>

        {%- elsif section.settings.layout == "grid-4x" -%}
        <div class="cuppe__grid">
          {% for block in section.blocks %}
            {% liquid
              assign text = block.settings.text | strip_newlines
            %}
            {%- case block.type -%}
              {%- when "block-image" -%}
                <li class="cuppe__grid-item cuppe__block-image">
                  <div class="cuppe-img image-orders">
                    {% if block.settings.image != blank %}
                      <noscript>
                        {{ block.settings.image | img_url: '300x300' | img_tag: image.alt, 'feature-row__image-no-js' }}
                      </noscript>
                      <img class="cuppe-featured-image"
                        loading="lazy"
                        width="auto"
                        height="auto"
                        src="{{ block.settings.image | img_url: '300x300' }}"
                        data-src="{{ block.settings.image | img_url: '300x300' }}"
                        data-widths="[360, 540, 720, 900, 1080]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.image.alt | escape }}"
                      >
                    {% else %}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>
                  
                  {% if text != blank %}
                  <div class="center" style="padding: 5px 20px; order: 2;">
                    {% for text_line in text %}
                      {%- unless text_line == '' -%}
                        {{ text_line }}
                      {%- endunless -%}
                    {% endfor %}
                  </div> 
                  {% endif %}               
                </li>

              {%- when "block-video" -%}
                <li class="cuppe__grid-item cuppe__block-video">
                  {%- if block.settings.product_description_video -%}
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ block.settings.product_description_video.id }}?autoplay=1&loop=1&mute=1" title="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen volume="0"></iframe>
                  {%- else -%}
                    <p>No video link entered...</p>
                  {%- endif -%}

                  {%- if text != blank -%}
                  <div class="center" style="padding: 5px 20px; order: 2;">
                    {% for text_line in text %}
                      {%- unless text_line == '' -%}
                        {{ text_line }}
                      {%- endunless -%}
                    {% endfor %}
                  </div> 
                  {%- endif -%}
                </li>
              {%- else -%}
            {%- endcase -%}
          {% endfor %}
        </div>
        {%- else -%}
      {%- endif -%}
      </div>

      {%- comment -%}
        Display no_content message when no element is found, e.g.:
          All elements are removed, OR
          Section is first created
      {%- endcomment -%}
      {% if section.blocks.size == 0 %}
        <div class="wrapper">
          <div class="grid">
            <div class="grid__item">
              <div class="rte text-center">
                {{ 'home_page.onboarding.no_content' | t }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <!-- Button link -->
    <div style="margin-top: 2rem; text-align: center;">
      <a class="" style="text-decoration: underline; font-size: 1.15rem; line-height: 60px;" 
          href="{{ section.settings.button_link }}" 
          title="{{ section.settings.button_label }}">
        {{ section.settings.button_label | escape }}
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom grid",
    "max_blocks": 9,
    "settings": [
      {
        "type": "header",
        "content": "Advanced featured rows"
      },
      {
        "type": "paragraph",
        "content": "Each featured row can contain 1 text block and 1 media block, and the positions can be switched between left or right."
      },
      {
        "id": "title",
        "type": "text",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "radio",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "row",
            "label": "Row"
          },
          {
            "value": "grid-4x",
            "label": "Grid 4x with video"
          }
        ],
        "default": "row"
      }
    ],
    "blocks": [
      {
        "name": "Image block",
        "type": "block-image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Description text"
          },
          {
            "type": "checkbox",
            "id": "alignment",
            "label": "Image first?",
            "default": true
          }
        ]
      },
      {
        "name": "Video block",
        "type": "block-video",
        "settings": [
          {
            "type": "video_url",
            "id": "product_description_video",
            "label": "Product description video",
            "accept": [
              "youtube",
              "vimeo"
            ]
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Description text"
          },
          {
            "type": "checkbox",
            "id": "alignment",
            "label": "Video first?",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom grid",
        "category": {
          "cs": "Pokročilé rozvržení",
          "da": "Avanceret layout",
          "de": "Komplizierteres Layout",
          "en": "Advanced layout",
          "es": "Diseño avanzado",
          "fi": "Monimutkaisempi layout",
          "fr": "Mise en page avancée",
          "hi": "उन्नत लेआउट",
          "it": "Layout avanzato",
          "ja": "高度なレイアウト",
          "ko": "고급 레이아웃",
          "nb": "Avansert oppsett",
          "nl": "Geavanceerde opmaak",
          "pl": "Zaawansowany układ",
          "pt-BR": "Layout avançado",
          "pt-PT": "Esquema avançado",
          "sv": "Avancerad layout",
          "th": "เลย์เอาท์ขั้นสูง",
          "tr": "Gelişmiş düzen",
          "vi": "Bố cục nâng cao",
          "zh-CN": "高级布局",
          "zh-TW": "進階版面配置"
        },
        "settings": {
          "title": "4x Row"
        },
        "blocks": [
          {
            "type": "block-image"
          },
          {
            "type": "block-image"
          },
          {
            "type": "block-image"
          },
          {
            "type": "block-image"
          }
        ]
      },
      {
        "name": "Custom grid 4x with video",
        "category": {
          "cs": "Pokročilé rozvržení",
          "da": "Avanceret layout",
          "de": "Komplizierteres Layout",
          "en": "Advanced layout",
          "es": "Diseño avanzado",
          "fi": "Monimutkaisempi layout",
          "fr": "Mise en page avancée",
          "hi": "उन्नत लेआउट",
          "it": "Layout avanzato",
          "ja": "高度なレイアウト",
          "ko": "고급 레이아웃",
          "nb": "Avansert oppsett",
          "nl": "Geavanceerde opmaak",
          "pl": "Zaawansowany układ",
          "pt-BR": "Layout avançado",
          "pt-PT": "Esquema avançado",
          "sv": "Avancerad layout",
          "th": "เลย์เอาท์ขั้นสูง",
          "tr": "Gelişmiş düzen",
          "vi": "Bố cục nâng cao",
          "zh-CN": "高级布局",
          "zh-TW": "進階版面配置"
        },
        "settings": {
          "title": "4x Row",
          "layout": "grid-4x"
        },
        "blocks": [
          {
            "type": "block-image"
          },
          {
            "type": "block-image"
          },
          {
            "type": "block-image"
          },
          {
            "type": "block-image"
          },
          {
            "type": "block-video"
          }
        ]
      }
    ],
    "templates": ["article", "index", "page", "product"]
  }
{% endschema %}

{% stylesheet %}
  /* MOBILE FIRST */
  .cuppe__list, .cuppe__grid {
    list-style: none;
    margin: 0;
    text-align: center;
  }
  .cuppe__list-item {
    height: 100%;
    display: flex;
    flex: 1 0 0%;
    flex-flow: row wrap;
  }
  .cuppe__list-item > div {
    width: 50%;
  }
  .cuppe__list li {
    width: 100%;
    align-self: start;
  }
  .cuppe-img {
    flex: 1 1 auto;
    min-height: 1px;
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .center {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  .cuppe-featured-image {
    max-width: 160px;
    width: 100%;
    border-radius: 50%;
  }
  .cuppe__grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: 
      "image1 image2" 
      "image3 image3"
      "video video";
  }
  .cuppe__grid .cuppe__block-video {
    grid-area: video;
    aspect-ratio: 1;
  }

  @media screen and (min-width: 590px) {
    /* DESKTOP VIEW */
    .cuppe__list {
      display: flex;
    }
    .cuppe__list-item {
      flex-flow: column wrap;
    }
    .cuppe__list-item > div {
      width: 100% !important;
      max-width: 180px;
      margin: 0 auto;
    }
    .image-orders {
      order: 0 !important;
    }
    .cuppe__grid {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 25% 25% 50%;
      grid-template-areas: 
        ". . video" 
        ". . video";
    }
    .cuppe__grid .cuppe__block-video {
      aspect-ratio: auto;
    }
    .cuppe-featured-image {
      max-width: 180px;
    }
  }
 
{% endstylesheet %}
