{% stylesheet %}
  /* MOBILE FIRST */
  .cuppe__grid {
    list-style: none;
    margin: 0;
    text-align: center;
  }
  .cuppe__grid-item {
    height: 100%;
    display: flex;
    flex: 1 0 0%;
    flex-flow: row wrap;
  }
  .cuppe__grid-item > div {
    width: 50%;
  }
  .cuppe__grid li {
    width: 100%;
    align-self: start;
  }
  @media screen and (min-width: 590px) {
    /* DESKTOP VIEW */
    .cuppe__grid {
      display: flex;
    }
    .cuppe__grid-item {
      flex-flow: column wrap;
    }
    .cuppe__grid-item > div {
      width: 100% !important;
      max-width: 200px;
    }
    .image-orders {
      order: 0 !important;
    }
  }
  .cuppe-img {
    flex: 1 1 auto;
    min-height: 1px;
    flex-flow: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
  }
  .center {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  .cuppe-featured-image {
    width: 100%;
    border-radius: 50%;
  }
{% endstylesheet %}

<div class="page-width-100" style="background-color: #F1ECE4; padding-bottom: 2rem;">
  <div class="wrapper">
    <div style="display: flex; justify-content: space-around;">
      <img class="lazyload"
        src="{{ 'icons_waves.svg' | asset_url }}"
        alt="convenience highlights"
        style="margin-top: -2rem;"
      />
    </div>

    <div class="page-width-100">
      <!-- Section title -->
      <div style="text-align: center; margin: 2rem;">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>

      <!-- Blocks of features -->
      <div class="wrapper">
        <ul class="cuppe__grid">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when "block-image" -%}
                <li class="" style="margin-bottom: 1rem;" {{ block.shopify_attributes }} >
                  {% include 'snippet_advanced-grid-image-block' %}
                </li>
              {%- else -%}
            {%- endcase -%}
          {% endfor %}
        </ul>
      </div>

      {%- comment -%}
        Display no_content message when no element is found, e.g.:
          All elements are removed, OR
          Section is first created
      {%- endcomment -%}
      {% if section.blocks.size == 0 %}
        <div class="wrapper">
          <div class="grid">
            <div class="grid__item">
              <div class="rte text-center">
                {{ 'home_page.onboarding.no_content' | t }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <!-- Button link -->
    <div style="margin-top: 2rem; text-align: center;">
      <a class="" style="text-decoration: underline; font-size: 1.15rem; line-height: 60px;" 
          href="{{ section.settings.button_link }}" 
          title="{{ section.settings.button_label }}">
        {{ section.settings.button_label | escape }}
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom grid",
    "max_blocks": 9,
    "settings": [
      {
        "type": "header",
        "content": "Advanced featured rows"
      },
      {
        "type": "paragraph",
        "content": "Each featured row can contain 1 block of text and 1 image, and the positions can be switched."
      },
      {
        "id": "title",
        "type": "text",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "blocks": [
      {
        "name": "Image block",
        "type": "block-image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Description text"
          },
          {
            "type": "checkbox",
            "id": "alignment",
            "label": "Image first?",
            "default": true
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom grid",
        "category": {
          "cs": "Pokročilé rozvržení",
          "da": "Avanceret layout",
          "de": "Komplizierteres Layout",
          "en": "Advanced layout",
          "es": "Diseño avanzado",
          "fi": "Monimutkaisempi layout",
          "fr": "Mise en page avancée",
          "hi": "उन्नत लेआउट",
          "it": "Layout avanzato",
          "ja": "高度なレイアウト",
          "ko": "고급 레이아웃",
          "nb": "Avansert oppsett",
          "nl": "Geavanceerde opmaak",
          "pl": "Zaawansowany układ",
          "pt-BR": "Layout avançado",
          "pt-PT": "Esquema avançado",
          "sv": "Avancerad layout",
          "th": "เลย์เอาท์ขั้นสูง",
          "tr": "Gelişmiş düzen",
          "vi": "Bố cục nâng cao",
          "zh-CN": "高级布局",
          "zh-TW": "進階版面配置"
        }
      }
    ]
  }
{% endschema %}
